<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
{{ form_start(testForm) }}
{{ form_widget(testForm) }}
{{ form_end(testForm) }}


</body>
</html>